
<p>
  <h3><%= @task.name %></h3>
  <%= link_to 'Atrás', project_milestone_path(@project, @milestone), class: 'button tiny secondary' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <h4>Duración</h4>
  <%= render 'task_duration_table', locals: { task: @task} %>
  <%= link_to 'Estimar duración', edit_project_milestone_task_path({ :project_id => @project.id, :milestone_id => @milestone.id, :id => @task.id }), class:'button tiny success'%> 
</p>
<p>
  <h4> Costos asociados </h4>
  <%= link_to 'Nuevo costo', new_task_cost_path({ :project_id => @project.id, :milestone_id => @milestone.id, :task_id => @task.id }), class:'button tiny success'%>
  <%= render 'costs_list', locals: { costs_list: @costs_list} %>
</p>
<h4></h4>


