<%= form_for(@stakeholder, url: project_stakeholders_path(@project)) do |f| %>
  <% if @stakeholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stakeholder.errors.count, "error") %> prohibited this stakeholder from being saved:</h2>

      <ul>
      <% @stakeholder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name, required: :true %>
  </div>
  <div class="field large-4 left">
    <%= f.label :commitment_level, 'Nivel de compromiso' %><br>
    <%= f.number_field :commitment_level, required: :true %>
  </div>
  <div class="field large-1 left"></div>
  <div class="field large-3 left">
    <%= f.label :influence, 'Influencia' %><br>
    <%= f.number_field :influence, required: :true %>
  </div>
  <div class="field large-1 left"></div>
  <div class="field large-3 left">
    <%= f.label :power, 'Poder' %><br>
    <%= f.number_field :power, required: :true %>
  </div>
  <div class="actions">
    <%= f.submit({class: 'button tiny success'}) %>
  </div>
<% end %>
