
<h1>Lista de interesados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nivel de compromiso</th>
      <th>Influencia</th>
      <th>Poder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stakeholders.each do |stakeholder| %>
      <tr>
        <td><%= stakeholder.name %></td>
        <td><%= stakeholder.commitment_level %></td>
        <td><%= stakeholder.influence %></td>
        <td><%= stakeholder.power %></td>
        <td><%= link_to 'Aumentar compromiso', increase_commitment_project_stakeholder_path(@project, stakeholder), method: :put, class: 'button info tiny' %></td>
        <td><%= link_to 'Eliminar', project_stakeholder_path(@project, stakeholder), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert' if @admin%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%- if @admin %>
  <%= link_to 'Crear nuevo interesado', new_project_stakeholder_path(@project), class: 'button tiny success'  %>
<% end -%>
<%= link_to 'Volver a vista general', project_path(@project), class: 'button tiny secondary' %>