<div class="panel radius row" id="admin-panel">
  <h4>Panel de administrador</h4>
  <div class="row" id="project-config">
    <%= link_to 'Editar proyecto', edit_project_path(@project), class: 'button radius tiny warning' %>
    <%= link_to 'Crear hitos', new_project_milestone_path(@project), class: 'button radius tiny warning' %>
    <%= link_to 'Crear recursos humanos', new_human_resource_path, class: 'button radius tiny warning' %>
    <%= link_to 'Crear interesados', new_project_stakeholder_path(@project), class: 'button radius tiny warning' %>
    <a href="#" data-reveal-id="define-budget" class="radius button tiny warning">Definir presupuesto</a>
    <%= render 'define_budget_form' %>
  </div>
  <div class="row" id="simulator-bar">
    <%= render 'admin_simulator_bar' %>
  </div>
    <p>
    <strong> Objetivos estratégicos: </strong>
    <%= simple_format(@project.strategic_objective) %>
  </p>
  <h5><strong>Requisitos</strong></h5>
  <p>
    <ul>
      <% @project.requirements.each do |req| %>
        <li><a href="#" data-reveal-id="editar-<%= req.id%>" class="radius button tiny secondary"> <%= req.print  %></a> </li>
        <%= render 'edit_requirement', locals: { requirement: req } %>
      <% end -%>
    </ul>
  </p>
  <br>
  <div class='row' id="create-requirement">
    <%= render 'create_requirement' %>
  </div>
</div>
<br>

  