<% requi = locals[:requirement] %>
<!-- modal -->
<div id="editar-<%= requi.id%>" class="reveal-modal" data-reveal aria-labelledby="req-<%= requi.id%>-title" aria-hidden="true" role="dialog">
  <h2 id="req-<%= requi.id%>-title">Editar nuevo requisito</h2>
  <%= form_tag edit_requirement_path(@project, requi), method: :put, id: "edit_requirement_#{requi.id}" do %>
    <div class="field left large-4">
      <%= label_tag :requirement_id, 'Identificador' %>
      <%= text_field_tag :requirement_id, requi.requirement_id %>
    </div>
    <div class="field left large-1"></div>
    <div class="field left large-4">
      <%= label_tag :name, 'Nombre' %>
      <%= text_field_tag :name, requi.name %>
    </div>
    <div class="field left large-1"></div>
    <div class="field left large-2">
      <%= label_tag :is_present, 'Es requisito inicial?' %>
      <%= hidden_field_tag :is_present, false %>
      <%= check_box_tag :is_present, nil, requi.is_present %>
    </div>
    <div class="field left large-12">
      <%= label_tag :description, 'Descripción' %>
      <%= text_area_tag :description, requi.description %>
    </div>
    <div class="large-3">
      <%= submit_tag 'Actualizar requisito', class: 'button tiny success' %>
    </div>
  <% end -%>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
