<div class="row panel">
  <%- if @project.win? %>
    <h4>Felicitaciones!! El proyecto ha resultado exitoso :)</h4>
  <%- elsif @project.loose? %>
    <h5>Lamentamos informate que los clientes han cancelado el proyecto</h5>
  <% else %>
    <%= link_to 'Ver enunciado de alcance', scope_statement_path, class: 'button info tiny' %> 
    <%= link_to 'Adquirir equipo de proyecto', human_resources_shop_path, class: 'button tiny info' %>
    <div><strong>Estado para comenzar la simulación: </strong><%= @project.simulator.prevalidate %></div><br>
    <div id="simulation_buttons">
      <%- if @can_start_simulation %> 
        <%= link_to 'Ejecutar etapa simulación', execute_step_project_path, class: 'button tiny success' if @can_start_simulation %>
        <%- if @project.monitorable? %>
        <a href="#" data-reveal-id="historia-simulacion" class="radius button tiny info">Historia de la simulación</a>
          <a href="#" data-reveal-id="negociacion" class="radius button tiny info">Negociar</a>
        <% end -%>
      <% end -%>
    </div>
  <% end -%>

  <!-- modal historia -->
  <div id="historia-simulacion" class="reveal-modal" data-reveal aria-labelledby="historia-simulacion-title" aria-hidden="true" role="dialog">
    <h2 id="historia-simulacion-title">Resumen de la simulación</h2>
    <h4>Estado actual: </h4>
    <p>
      <strong>Fecha: </strong> <%= @project.start_date + @simulator.day.days if @simulator.day%><br>
      <strong>Presupuesto inicial: </strong> <%= @simulator.initial_budget %><br>
      <strong>Duración inicial: </strong> <%= @simulator.original_duration %><br>
      <strong>Duración actual: </strong> <%= @simulator.actual_duration %><br>

    </p>
    <h4>Historia</h4>
    <div>
      <%= simple_format(@simulator.events_description) %>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <!-- modal negociación -->
  <div id="negociacion" class="reveal-modal" data-reveal aria-labelledby="negociacion-title" aria-hidden="true" role="dialog">
    <h2 id="negociacion-title">Negociar</h2>
    <%= form_tag negotiate_project_path do %>
    <div class="field">
      <%= label_tag :type, 'Tipo de negociación' %>
      <%= select_tag :type, options_for_select([['Incrementar presupuesto', 1], ['Incrementar plazo', 2],['Cambiar requisito', 3]]) %>
    </div>
    <fieldset>
      <legend>Incremento de presupuesto</legend>
      <div class="field">
        <%= label_tag :amount, 'Monto' %>
        <%= number_field_tag :amount %>
      </div>
    </fieldset>
    <fieldset>
      <legend>Incremento de plazo</legend>
      <div class="field">
        <%= label_tag :days, 'Atrasar N Días' %>
        <%= number_field_tag :days, min: 0 %>
      </div>
    </fieldset>
    <fieldset>
      <legend>Cambiar requisito</legend>
      <div class="field left large-5">
        <%= label_tag :add_requirement_id, 'Mantener requisito' %>
        <%= select_tag :add_requirement_id, options_for_select(@project.requirements.present.pluck(:name, :id)) %>
      </div>
      <div class="field left large-1"></div>
      <div class="field left large-6">
        <%= label_tag :delete_requirement_id, 'A cambio de quitar' %>
        <%= select_tag :delete_requirement_id, options_for_select(@project.requirements.present.pluck(:name, :id)) %>
      </div>
    </fieldset>
    <%= submit_tag 'Negociar', class: 'button tiny success' %>
    <% end -%>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div>

