<div class="row panel">
  <%= link_to 'Ver enunciado de alcance', scope_statement_path, class: 'button info tiny' %> 
  <%= link_to 'Adquirir equipo de proyecto', human_resources_shop_path, class: 'button tiny info' %>
  <div><strong>Estado para comenzar la simulaci贸n: </strong><%= @project.simulator.prevalidate %></div><br>
  <div id="simulation_buttons">
    <%= link_to 'Ejecutar etapa simulaci贸n', execute_step_project_path, class: 'button tiny success' if @can_start_simulation %>
    <a href="#" data-reveal-id="historia-simulacion" class="radius button tiny info">Historia de la simulaci贸n</a>
  </div>


  <!-- modal -->
  <div id="historia-simulacion" class="reveal-modal" data-reveal aria-labelledby="historia-simulacion-title" aria-hidden="true" role="dialog">
    <h2 id="historia-simulacion-title">Historia de la simulaci贸n</h2>
    <%= simple_format(@simulator.events_description) %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div>

