
<p>
  <h1>
    <%= @project.name %>
  </h1>
</p>

<p>
  <strong>Semana Actual:</strong>
  <%= @project.actual_week %>
  <br>
  <strong> Estado del proyecto: </strong>
  <%= @project.status %>
  <br>
  <%- if @project.status == 'Inicio' %>

  <% end -%>
</p>

<div class="panel radius row">
  <%= render 'costs_panel', locals: { cost_lines: @cost_lines } %>
</div>
<br>
<div class="panel radius row float">
  <div class="panel callout radius large-7 left">
    <%= render 'stakeholders_panel' %>
  </div>
  <div class="panel callout radius large-4 right">
    <%= render 'milestones_panel' %>
  </div>
</div>
<br>