<p>
  <h1>
    <%= @project.name %>
  </h1>
</p>

<p>
  <strong> Estado del proyecto: </strong>
  <%= @project.status %>
  <br>
  <strong> Fecha de inicio: </strong>
  <%= @project.start_date %>
  <br>
  <strong>Día de la simulación:</strong>
  <%= @simulator.day %>
  <br>

  <%- if not @admin %>
  <!-- This panel allows the PM to play and organize the project-->
    <%= render 'project_manager_panel' %>
  <% end -%>
</p>
<%- if @admin %>
  <%= render 'admin_panel' %>
<% end -%>
<div class="panel radius row">
  <%= render 'costs_panel', locals: { estimated_ps: @estimated_payment_schedule,
                                      real_ps: @real_payment_schedule,
                                      budget_data: @budget_data } %>
</div>
<br>
<%- if (@can_start_simulation and not @admin) %>
  <div class="panel radius row">
    <h3>Vista Gantt</h3>
    <%= timeline @tasks_timeline_data, colors: ['#8d8'] %>
  </div>
<% end -%>
<br>
<div class="panel radius row float">
  <div class="panel callout radius large-7 left">
    <%= render 'stakeholders_panel' %>
  </div>
  <div class="panel callout radius large-4 right">
    <%= render 'milestones_panel' %>
  </div>
</div>
<br>